@model pas_pertamina.Models.Rute

@{
    ViewData["Title"] = "Delete";
}

<ol class="breadcrumb">
    <li><a href="#">Settings</a></li>
    <li><a href="#">List Rute</a></li>
    <li class="active">Hapus Rute</li>
</ol>
<h3 class="header-form">Hapus Rute  <i class="fa fa-pencil pull-right"></i> </h3>

<h3>Yakin Untuk Menghapus Data ini?</h3>
<div>
    <h4>Rute</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Delete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Idrute" />
                <div class="form-group">
                    <label asp-for="IdkapalNavigation.Namakapal" class="control-label">Simbol Satuan</label>
                    <input asp-for="IdkapalNavigation.Namakapal" class="form-control" readonly />
                    <span asp-validation-for="IdkapalNavigation.Namakapal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdasalNavigation.Namapelabuhan" class="control-label">Simbol Satuan</label>
                    <input asp-for="IdasalNavigation.Namapelabuhan" class="form-control" readonly />
                    <span asp-validation-for="IdasalNavigation.Namapelabuhan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdtujuanNavigation.Namapelabuhan" class="control-label">Simbol Satuan</label>
                    <input asp-for="IdtujuanNavigation.Namapelabuhan" class="form-control" readonly />
                    <span asp-validation-for="IdtujuanNavigation.Namapelabuhan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Seatime" class="control-label">Simbol Satuan</label>
                    <input asp-for="Seatime" class="form-control" readonly />
                    <span asp-validation-for="Seatime" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-info"> <i class="fa fa-trash"></i> Hapus</button>
            </form>
        </div>
    </div>
    
</div>
<div>
    <a asp-action="Index">Kembali</a>
</div>
