@model pas_pertamina.Models.Kapal

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Kapal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Namakapal" class="control-label"></label>
                <input asp-for="Namakapal" class="form-control" />
                <span asp-validation-for="Namakapal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idlisttipekapal" class="control-label"></label>
                <select asp-for="Idlisttipekapal" class ="form-control" asp-items="ViewBag.Idlisttipekapal"></select>
            </div>
            <div class="form-group">
                <label asp-for="Kapasitas" class="control-label"></label>
                <input asp-for="Kapasitas" class="form-control" />
                <span asp-validation-for="Kapasitas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Satuankapasitas" class="control-label"></label>
                <select asp-for="Satuankapasitas" class ="form-control" asp-items="ViewBag.Satuankapasitas"></select>
            </div>
            <div class="form-group">
                <label asp-for="Flowrate" class="control-label"></label>
                <input asp-for="Flowrate" class="form-control" />
                <span asp-validation-for="Flowrate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Satuanflowrate" class="control-label"></label>
                <select asp-for="Satuanflowrate" class ="form-control" asp-items="ViewBag.Satuanflowrate"></select>
            </div>
            <div class="form-group">
                <label asp-for="Jenisangkut" class="control-label"></label>
                <input asp-for="Jenisangkut" class="form-control" />
                <span asp-validation-for="Jenisangkut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedTime" class="control-label"></label>
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedTime" class="control-label"></label>
                <input asp-for="UpdatedTime" class="form-control" />
                <span asp-validation-for="UpdatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedBy" class="control-label"></label>
                <input asp-for="DeletedBy" class="form-control" />
                <span asp-validation-for="DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedTime" class="control-label"></label>
                <input asp-for="DeletedTime" class="form-control" />
                <span asp-validation-for="DeletedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoftDelete" class="control-label"></label>
                <input asp-for="SoftDelete" class="form-control" />
                <span asp-validation-for="SoftDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
