@model pas_pertamina.Models.Kapal

@{
    ViewData["Title"] = "Delete";
}

<ol class="breadcrumb">
    <li><a href="#">Settings</a></li>
    <li><a href="#">List Kapal</a></li>
    <li class="active">Hapus Kapal</li>
</ol>
<h3 class="header-form">Hapus Kapal  <i class="fa fa-pencil pull-right"></i> </h3>

<h3>Yakin Untuk Menghapus Data ini?</h3>
<div>
    <h4>Kapal</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Delete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Idkapal" />
                <div class="form-group">
                    <label asp-for="Namakapal" class="control-label">Nama Kapal</label>
                    <input asp-for="Namakapal" class="form-control" readonly />
                    <span asp-validation-for="Namakapal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdlisttipekapalNavigation.Namalisttipekapal" class="control-label">Tipe Kapal</label>
                    <input asp-for="IdlisttipekapalNavigation.Namalisttipekapal" class="form-control" readonly />
                    <span asp-validation-for="IdlisttipekapalNavigation.Namalisttipekapal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Flowrate" class="control-label">Flowrate</label>
                    <input asp-for="Flowrate" class="form-control" readonly />
                    <span asp-validation-for="Flowrate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SatuanflowrateNavigation.NamaSatuan" class="control-label">Satuan Flowrate</label>
                    <input asp-for="SatuanflowrateNavigation.NamaSatuan" class="form-control" readonly />
                    <span asp-validation-for="SatuanflowrateNavigation.NamaSatuan" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-info"> <i class="fa fa-trash"></i> Hapus</button>
            </form>
        </div>
    </div>

    
</div>
<div>
    <a asp-action="Index">Kembali</a>
</div>
