@model pas_pertamina.Models.Listsatuan

@{
    ViewData["Title"] = "Delete";
}

<ol class="breadcrumb">
    <li><a href="#">Settings</a></li>
    <li><a href="#">List Satuan</a></li>
    <li class="active">Hapus Satuan</li>
</ol>
<h3 class="header-form">Hapus Satuan  <i class="fa fa-pencil pull-right"></i> </h3>

<h3>Yakin Untuk Menghapus Data ini?</h3>
<div>
    <h4>Listsatuan</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Delete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdListsatuan" />
                <div class="form-group">
                    <label asp-for="NamaSatuan" class="control-label"></label>
                    <input asp-for="NamaSatuan" class="form-control" readonly />
                    <span asp-validation-for="NamaSatuan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SimbolSatuan" class="control-label"></label>
                    <input asp-for="SimbolSatuan" class="form-control" readonly />
                    <span asp-validation-for="SimbolSatuan" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-info"> <i class="fa fa-trash"></i> Hapus</button>
                
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
