@model pas_pertamina.Models.Pelabuhan

@{
    ViewData["Title"] = "Delete";
}

<ol class="breadcrumb">
    <li><a href="#">Settings</a></li>
    <li><a href="#">List Pelabuhan</a></li>
    <li class="active">Hapus Pelabuhan</li>
</ol>
<h3 class="header-form">Hapus Pelabuhan  <i class="fa fa-pencil pull-right"></i> </h3>

<h3>Yakin Untuk Menghapus Data ini?</h3>
<div>
    <h4>Pelabuhan</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Delete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Idlistpelabuhan" />
                <div class="form-group">
                    <label asp-for="Kodepelabuhan" class="control-label">Kode Pelabuhan</label>
                    <input asp-for="Kodepelabuhan" class="form-control" readonly />
                    <span asp-validation-for="Kodepelabuhan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Namapelabuhan" class="control-label">Nama Pelabuhan</label>
                    <input asp-for="Namapelabuhan" class="form-control" readonly />
                    <span asp-validation-for="Namapelabuhan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Jenisproduk" class="control-label">Produk</label>
                    <input asp-for="Jenisproduk" class="form-control" readonly />
                    <span asp-validation-for="Jenisproduk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Baseline" class="control-label">Baseline</label>
                    <input asp-for="Baseline" class="form-control" readonly />
                    <span asp-validation-for="Baseline" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-info"> <i class="fa fa-trash"></i> Hapus</button>
            </form>
        </div>
    </div>

    
</div>
<div>
    <a asp-action="Index">Kembali</a>
</div>
