@model pas_pertamina.Models.ViewShipmenDetail

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ViewShipmenDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idshipment" class="control-label"></label>
                <select asp-for="Idshipment" class="form-control" asp-items="ViewBag.Idshipment"></select>
                <span asp-validation-for="Idshipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noshipment" class="control-label"></label>
                <input asp-for="Noshipment" class="form-control" />
                <span asp-validation-for="Noshipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idkapal" class="control-label"></label>
                <select asp-for="Idkapal" class="form-control" asp-items="ViewBag.Idkapal"></select>
                <span asp-validation-for="Idkapal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idasal" class="control-label"></label>
                <input asp-for="Idasal" class="form-control" />
                <span asp-validation-for="Idasal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idtujuan" class="control-label"></label>
                <input asp-for="Idtujuan" class="form-control" />
                <span asp-validation-for="Idtujuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proses" class="control-label"></label>
                <input asp-for="Proses" class="form-control" />
                <span asp-validation-for="Proses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrival" class="control-label"></label>
                <input asp-for="Arrival" class="form-control" />
                <span asp-validation-for="Arrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Berthed" class="control-label"></label>
                <input asp-for="Berthed" class="form-control" />
                <span asp-validation-for="Berthed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comm" class="control-label"></label>
                <input asp-for="Comm" class="form-control" />
                <span asp-validation-for="Comm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comp" class="control-label"></label>
                <input asp-for="Comp" class="form-control" />
                <span asp-validation-for="Comp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unberthed" class="control-label"></label>
                <input asp-for="Unberthed" class="form-control" />
                <span asp-validation-for="Unberthed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <input asp-for="Departure" class="form-control" />
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waiting1" class="control-label"></label>
                <input asp-for="Waiting1" class="form-control" />
                <span asp-validation-for="Waiting1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waiting2" class="control-label"></label>
                <input asp-for="Waiting2" class="form-control" />
                <span asp-validation-for="Waiting2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waiting3" class="control-label"></label>
                <input asp-for="Waiting3" class="form-control" />
                <span asp-validation-for="Waiting3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waiting4" class="control-label"></label>
                <input asp-for="Waiting4" class="form-control" />
                <span asp-validation-for="Waiting4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waiting5" class="control-label"></label>
                <input asp-for="Waiting5" class="form-control" />
                <span asp-validation-for="Waiting5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antrian" class="control-label"></label>
                <input asp-for="Antrian" class="form-control" />
                <span asp-validation-for="Antrian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nojetty" class="control-label"></label>
                <input asp-for="Nojetty" class="form-control" />
                <span asp-validation-for="Nojetty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idbantuan" class="control-label"></label>
                <input asp-for="Idbantuan" class="form-control" />
                <span asp-validation-for="Idbantuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prosesbantuan" class="control-label"></label>
                <input asp-for="Prosesbantuan" class="form-control" />
                <span asp-validation-for="Prosesbantuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idpelabuhanbantuan" class="control-label"></label>
                <input asp-for="Idpelabuhanbantuan" class="form-control" />
                <span asp-validation-for="Idpelabuhanbantuan" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Iddetailshipment" />
            <div class="form-group">
                <label asp-for="Idproduk" class="control-label"></label>
                <select asp-for="Idproduk" class="form-control" asp-items="ViewBag.Idproduk"></select>
                <span asp-validation-for="Idproduk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jumlah" class="control-label"></label>
                <input asp-for="Jumlah" class="form-control" />
                <span asp-validation-for="Jumlah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idsatuan" class="control-label"></label>
                <input asp-for="Idsatuan" class="form-control" />
                <span asp-validation-for="Idsatuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
