@model pas_pertamina.Models.Stok

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Stok</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idstock" />
            <div class="form-group">
                <label asp-for="Idlistpelabuhan" class="control-label"></label>
                <select asp-for="Idlistpelabuhan" class="form-control" asp-items="ViewBag.Idlistpelabuhan"></select>
                <span asp-validation-for="Idlistpelabuhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idproduk" class="control-label"></label>
                <select asp-for="Idproduk" class="form-control" asp-items="ViewBag.Idproduk"></select>
                <span asp-validation-for="Idproduk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pumpable" class="control-label"></label>
                <input asp-for="Pumpable" class="form-control" />
                <span asp-validation-for="Pumpable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dot" class="control-label"></label>
                <input asp-for="Dot" class="form-control" />
                <span asp-validation-for="Dot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Safestok" class="control-label"></label>
                <input asp-for="Safestok" class="form-control" />
                <span asp-validation-for="Safestok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadstok" class="control-label"></label>
                <input asp-for="Deadstok" class="form-control" />
                <span asp-validation-for="Deadstok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedTime" class="control-label"></label>
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedTime" class="control-label"></label>
                <input asp-for="UpdatedTime" class="form-control" />
                <span asp-validation-for="UpdatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedBy" class="control-label"></label>
                <input asp-for="DeletedBy" class="form-control" />
                <span asp-validation-for="DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedTime" class="control-label"></label>
                <input asp-for="DeletedTime" class="form-control" />
                <span asp-validation-for="DeletedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoftDelete" class="control-label"></label>
                <input asp-for="SoftDelete" class="form-control" />
                <span asp-validation-for="SoftDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
